<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon1.png" />
    <title>SpellCheck Patronum</title>
  </head>

  <body>
    <div class="title-container">
      <h1 class="main-title">SpellCheck Patronum</h1>
      <img src="/static/favicon1.png" alt="magicwand" />
    </div>

    <div class="main-container">
      <div class="text-container">
        <h3>Your text 📝</h3>
        <form action="/" method="post">
          <textarea
            placeholder="Enter your text here..."
            name="text"
            cols="30"
            rows="5"
          ></textarea>
          <br />
          <input class="main_button" type="submit" value="Fix text" />
        </form>
      </div>

      <div class="text-container">
        <h3>Fixed Text ✅</h3>
        <div>
          <div class="fixed-text">
            {% if fixed_text %}
            <p class="text-fixed">{{ fixed_text }}</p>
            {% endif %}
          </div>
          <p class="placeholder">
            🕓 The fixed text might take some time loading, thank you for your
            patience!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
